.Web_Page{
    font-family: verdana;
    font-size:14px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3); 
    background-color: white;
  
}

body{
    margin: 0px;
}

.Main_Menu a,.Mobile_Menu a{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color:#666;
    border:solid 1px #999;
    border-radius: 2px;
    width: 120px;
}

.Main_Menu,.Mobile_Menu{
    padding: 10px;
    text-align: center;
}

.Menu_Block{
    border:solid 1px #999;
}

.Page{
    padding: 10px;
    line-height: 1.5;
}

.Page p {
    margin: 0px 0px 30px;
}

.Mobile_Menu{
    display: none;
}

.Code_Box{
    background-color: #ebeff1;
    padding: 10px;
    line-height: 1.75;
    border: solid 1px black;
}

.Code_Box p{
margin: 0px 0px 0px 20px;  
}

.Blue{
    color: #007cff;
    font-weight: bold;
}

.Orange{
    color:#ff7800;
    font-weight: bold;
}

.Gray{
    color:#999;
    font-style: italic;
}

