.Web_Page{
    font-family: verdana;
    font-size:14px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(74, 120, 138, 0.3);
    background-color: white;
    margin: 10px auto;
}

body{
    margin: 0px;
    background-image: url("img/bottom-bg.png");
}

.Main_Menu a, .Page a{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    width: 120px;
    background-color: black;
    font-weight: bold;
    background: #8293a0;
    transition: 0.2s ease background;
}

.Main_Menu a:hover, .Page a:hover{
    background: #587286;
}

.center{
    text-align: center;
}

.Main_Menu{
    padding: 10px;
    text-align: center;
}

.Menu_Block{
    background-color: #c6ced4;
}

.Page{
    padding: 10px;
    line-height: 1.5;
}

.Page p {
    margin: 0px 0px 30px;
}

.Code_Box{
    background-color: #ebeff1;
    padding: 10px;
    line-height: 1.75;
    border: solid 1px #b6d1e4;
    border-radius: 2px;
}

.Code_Box .Tab{
    margin: 0px 0px 0px 30px;  
}

.Blue{
    color: #007cff;
    font-weight: bold;
}

.Orange{
    color:#ff7800;
    font-weight: bold;
}

.Gray{
    color:#999;
    font-style: italic;
}

.Green{
    color: #2ca92c;
    font-weight: bold;
}

h1{
    color: #8293a0;
    font-size: 25px;
    margin: 30px 0px 10px;
    border-left:solid 10px #c5d0d4;
    padding: 0px 0px 0px 5px;
}

h2{
    color: #8293a0;
    font-size: 16px;
    margin: 20px 0px 5px;
}

.Foot{
    padding: 10px;
    background-color: #c6ced4;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}